/*************************general Style**********************************/

/***************************navigation*************************************************/

#custom-navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#custom-a-nav {
  text-decoration: none;
}
